[submodule "phpBB/ext/rubencm/multistorage"]
	path = phpBB/ext/rubencm/multistorage
	url = https://github.com/ryanfaricy/phpbb-ext-storage-flysystem.git
	branch = master
[submodule "phpbb/ext/rubencm/flysystem_storage"]
	path = phpbb/ext/rubencm/flysystem_storage
	url = https://github.com/ryanfaricy/phpbb-ext-storage-flysystem.git
	branch = feature/storage-test-ryanfaricy
